.chat
  position: fixed
  bottom: 0
  width: 100%
  //height: 300px
  //> *
    height: 100%

.chat-tabs

.chat-window
  width: 100%
  min-width: 180px
  max-width: 220px
  overflow-x: hidden
  background-color: #eee

.chat__header
  background-color: $color-important
  padding: 3px 0

.chat__title
  color: #fff
  font-weight: bold
  text-align: center
  margin: 0

.chat__image
  width: 30px
  height: auto
  margin: 0 4px

.chat__name
  font-size: 12px
  width: 115px
  overflow-x: hidden
  white-space: nowrap

.chat__content
  //Normalisieren der Liste
  ul
    padding: 0
    list-style: none

.chat__list-item
  padding: 3px 0

  &:hover
    background-color: #fff

.form-chat
  display: inline-block
  border: solid 1px #777
  background-color: #fefefe
  width: 140px


.online-status--chat
  .material-icons
    color: #777
    float: right
    margin-top: 3px
    margin-right: 6px
    font-size: 16px

.online-status--online
  .material-icons
    color: #4D9635
