.wall-widget--group-information
  header
    margin-bottom: 0

.wall-widget__image
  margin: 0 -20px
  overflow: hidden
  margin-bottom: 18px
  img
    width: 100%

.wall-widget__information-row
  width: 100%
  display: block
  overflow: auto
  margin: 7px 0

.wall-widget__info-label
  font-weight: bold

.wall-widget__info-content
  margin-top: 1px
  margin-bottom: 8px
