@media(max-width:767px)
  .header-content
    height: 140px

  .navbar.grand-navbar
    top: 48px
    position: fixed

  .navbar
    .navbar-brand__title
      font-size: 20px
    .navbar-brand__subtitle
      font-size: 14px
