#HeadLogo{height:75px;width:75px;background-image:url('/Upload/Koeln_Logo.jpg');}
.koln-header .HeadLogo{height:75px;width:75px;background-image:url('/Upload/Koeln_Logo.jpg');position:absolute;top:10px;left:50px;}
.required-field input, .required-field textarea{border-left:0.3125em solid #ed1c24 !important;width: 100%;}
.message-center .required-field input,.message-center .required-field textarea,
.message-center .required-field .reContentArea,.message-center .required-field .riTextBox,.message-center .required-field .rcbInput{
border-left:0.3125em solid #ed1c24 !important;}
#DivFootL .DivFootS:after, #DivFootM .DivFootS:after, #DivFootR .DivFootS:after{color:#A8161B !important;}
.business-on{background:url(/Upload/kolnUserType_Business.png) no-repeat;}
.private-on{background:url(/Upload/kolnUserType_Private.png) no-repeat;}
.regional-on{background:url(/Upload/kolnRegion_Regional.png) no-repeat;}
.worldwide-on{background:url(/Upload/KolnRegion_Worlwide.png) no-repeat;}
.lnkCancelProfile{color:#fff!important;}
.user-profile-tabs li.selected a{color:#161616;}
.navigation-holder{top:120px;}
/*header{padding-bottom:195px;}*/
nav ul li a:hover,nav ul .selected a,.property-holder .reDropdown:hover span, footer .footer-holder ul li a:hover{color:#EABCBE;}
.RadMenu .rmLink:hover{background-color:#EABCBE !important;}
.discussion .title-wrapper,.discussion-message-title-wrapper{
background-image:-ms-linear-gradient(left bottom,#075278,#ed1c24);
background-image:-webkit-gradient(linear,0% 100%,100% 0%,color-stop(0%,#075278),color-stop(100%,#ed1c24));
background-image:-webkit-linear-gradient(left bottom,#075278,#ed1c24);
background-image:-moz-linear-gradient(left bottom,#075278,#ed1c24);
background-image:-o-linear-gradient(left bottom,#075278,#ed1c24);
background-image:linear-gradient(left bottom,#075278,#ed1c24);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ed1c24',endColorstr = '#075278');
}
.sort-filter .filtering .filtering-holder .search{border:#ed1c24;}
.admin-bar-holder a:hover,.tasksLayout a:hover,.topPanel a:hover,.ui-state-default a:hover,.ui-state-active a:hover{color:#74ccf7;}
.ui-state-active a,.admin-bar-holder a,.tasksLayout a,.topPanel a{color:#14a9f1;}
#H1Empty{color:#fff;}
#DivImpresum{display:block;margin:5px auto;text-align:center;font-size:12px;}
#DivImpresum a{}
.DivFootSep{width:95px!important;}
.DivFootItem{width:319px!important;}
.DivFootT, .DivFootC{width:265px!important;}
.DivFootS{float:left!important;margin-right:10px;}
#DivFootL .DivFootS:after{float:right;}
.MenuItemSelected{background-color:lightgrey;}
/* Köln header */
/*.koln-header{display:inline-block;position:fixed;width:1200px;z-index:2000;float:left;height:120px;line-height:45px;background-image:url('/Upload/koeln-header_gray.jpg');}
.koln-address{width:440px;margin-top:7px;float:right;line-height:20px;color:#fff;text-align:right;padding-right:15px;}
.tsa-addressspan{display:inline-block;float:right;line-height:20px;color:#fff;margin-right:10px;padding:0;}
#kolnHeadServices{float:left;margin-left:20px;line-height:30px;display:block;z-index:2001;position:relative;border-top:solid 2px #fff;}
.kolnHeadServicesList{line-height:30px;display:inline-block;z-index:2002;background-color:rgba(229, 75, 81, 0.95);padding:0 10px;position:absolute;top:30px;left:0;}
.kolnHeadServicesList .kolnHeadService{border-top:solid 1px #fff;}
.kolnHeadServicesList .kolnHeadService:first-child{border-top:none;}
.kolnHeadService{display:block;line-height:30px;z-index:2003;white-space:nowrap;padding:3px 5px;color:#ffffff;}
#kolnHeadServices span{display:inline-block;line-height:30px;font-size:15px;position:relative;}
#kolnHeadServices span a{color:#fff;padding:0 20px;display:block;}
#kolnHeadServices span:hover{background-color:rgba(255, 255, 255, 0.33);}
.kolnHeadService:hover[href]{color:rgba(255, 255, 255, 0.55)!important;}
#kolnHeadServices span div{visibility:hidden;}
#kolnHeadServices span:hover div{visibility:visible;}
#KolnHeadTitle{height:88px;line-height:88px;font-size:32px;color:#fff;display:block;margin-left:20px;}
#KolnHeadTitle a{color:#fff;}
.Deph3{border-top:none!important;padding-left:15px!important;line-height:15px!important;font-size:12px!important;padding-bottom:8px!important;}
.Deph2{padding-left:10px!important;}*/
/* Köln header END */

/* DefaultColor */
/*.ItemSelected,.BgAlt,.comment-composer a.regular-button, .group-info  .styled-button, .addthis_button img, img[id^="imgLike_"], .tabs-wrapper .tabs li .selected,
.PeopleSearch a, #user-profile-tabs, .tabs-wrapper .tabs li .selected, .logout_content, .people-search .options div.button-wrapper a, .chat-users .chat-users-header,
.chat-sessions .chat-session .chat-session-body .type-message .chat-send, .platform-bgcolor, .message-center .btnSend, a.DynamicMenuItem:hover, .BtnRegidter, #DivFoot,
.DivReg4 .BtnSend, .Wall_GivenServices, .sort-filter .filtering .filtering-holder .search:hover, .SwitchButton_ON,.SwitchButton_OFF
{background-color:#ed1c24;}
.Wall_PostToName a, .NotificationsText a b, #Wall_ServicesHead .lnkEditProfile, .MembersTitle, .GroupsName a, #WellM h1,.BigTitle h2, .lblProfilhdr, .lnkEditProfile:before,
.bottom-section .option-holder ul li a, footer .footer-holder ul li h2, .platform-color, .blog .comment-top a:hover, .side-menu li a:hover,.side-menu li.active a
{color:#ed1c24;}
.well2min, .aServicesEdit{color:#ed1c24 !important;}*/
/* DefaultColor END */

/*#kolnHeadServices .MenuLavel_1,#kolnHeadServices .MenuLavel_2, #kolnHeadServices .MenuLavel_3
{color:#ffffff!important;background-color:rgb(233, 0, 47)!important;}
#kolnHeadServices .MenuLavel_1:hover{background-color:rgb(58, 166, 231)!important;}
#kolnHeadServices .MenuLavel_2[href]:hover{color:#262626!important;background-color:#f5f5f5!important;}
#kolnHeadServices .MenuLavel_3:hover{text-decoration:underline;}*/
img[id^="imgLike_"]{background-color:rgb(233, 0, 47)!important;}
.info-name a {color: #333;}
.info-name a b {color: #E9002F;}

#WelcomeErrorWrapper {
	background: #E9002F;
    color: #fff;

}
