.group-card__description
  font-weight: normal
  font-size: 12px
  margin-top: 5px
  margin-bottom: 0
  min-height: 17px
  .material-icons
    vertical-align: middle
    margin-bottom: 3px
    font-size: 18px

.group-card__actions
  margin-bottom: 5px
  font-size: 12px
  li
    margin-right: 3px
    &:last-child
      margin-right: 0

.button--new-group
  vertical-align: top
  margin-top: 2px
  display: inline-block
  font-size: 16px
  float: right
  margin-right: 2px
  .material-icons
    vertical-align: middle
    margin-top: 3px

.matching__filters.matching__filters--kontakte
  overflow: auto

.page-headline
  margin-top: 30px
  margin-left: 5px
  font-size: 20px

.addgroup-form
  background-color: #f9f9f9
  border: solid 1px #eeeeee
  padding: 10px 20px
  padding-top: 25px
  .form-group--material
    width: 100%

.wall-widget__tipp
  font-style: italic
  font-weight: normal

.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

  + label
    .material-icons
      vertical-align: middle
      margin-right: 5px
      font-size: 1.5em
    padding: 5px 10px
    font-size: 1em
    font-weight: normal
    color: white
    background-color: $color-primary
    display: inline-block
  &:focus + label, + label:hover
    background-color: darken($color-primary, 10%)
    cursor: pointer

.form-options
  margin-top: 60px
  overflow: auto
  .form-group
    margin-top: 10px

.headline-options
  padding-bottom: 5px
  h4
    margin-top: 0
    font-weight: bold

.text-right
  text-align: right

.form-group--material.text-right
  margin-top: 20px
