$profile-header-height: 300px


.profile-header
  margin-top: 20px
  height: $profile-header-height
  overflow: hidden
  position: relative


.profile-header__wallpaper
  width: 100%
  height: auto
  min-height: $profile-header-height


.profile-header__desc-bar
  position: absolute
  bottom: 0
  left: 0
  height: 100px
  width: 100%
  background-color: rgba(0, 0, 0, 0.5)


.profile-header__profile-picture-container
  position: relative
  height: 100px


.profile-header__profile-picture
  position: absolute
  bottom: 10px
  border: 5px solid #fff


.profile-header__name
  color: #fff
  margin-left: 10px


.profile-header__action-buttons
  margin-top: 40px


.profile-header__action-button
  display: inline-block
  color: #fff
  margin: 0 5px


.profile-tabs
  margin-left: 10px
