$color-primary: #3aa6e7
$color-important: #E9002F

$font-color: #333
$color-chat-online: #4DDD35



// Navbar Colors

$color-navbar: #132333
$color-navbar-font: #fff
$color-placeholder-navbar: #cdcdcd


// Header Colors
$color-header-buttons-font: $color-navbar-font
$color-header-buttons-background: $color-important

// fixes for material design
$color-accent: #{red($color-important)}, #{green($color-important)}, #{blue($color-important)}


$use-mozilla-ellipsis-binding: true
