$color-primary: #FC091B
$color-important: #032F60

$font-color: #333
$color-chat-online: #4DDD35



// Navbar Colors

$color-navbar: #fff
$color-navbar-font: $font-color
$color-placeholder-navbar: #cdcdcd


// Header Colors
$color-header-buttons-font: $color-navbar
$color-header-buttons-background: $color-important

// General Colors
$color-background-widget: #f9f9f9


// fixes for material design
$color-accent: #{red($color-important)}, #{green($color-important)}, #{blue($color-important)}


$use-mozilla-ellipsis-binding: true


// Using Primary Color also in Bootstrap
$brand-primary: $color-primary
