$color-primary: #373C53
$color-important: #679F49

$font-color: #333
$color-chat-online: #4DDD35

// Button Styling
$button--color: #fff
$button-primary--color: $button--color
$button-primary-passive--bg-color: #333


// Navbar Colors
$color-navbar: #fff
$color-navbar-font: $color-primary
$color-placeholder-navbar: lighten($color-primary, 30%)


// Navmenu Colors
$color-navmenu-bg:       $color-navbar
$color-navmenu:          $color-primary
$color-navmenu-hover-bg: $color-primary
$color-navmenu-hover:    $button--color


// Navmenu Colors
$color-navmenu-bg:       $color-navbar
$color-navmenu:          $color-primary
$color-navmenu-hover-bg: $color-primary
$color-navmenu-hover:    $button--color


// Header Colors
$color-header-buttons-font: #fff
$color-header-buttons-background: $color-important

// General Colors
$color-background-widget: #f9f9f9


// fixes for material design
$color-accent: #{red($color-important)}, #{green($color-important)}, #{blue($color-important)}


$use-mozilla-ellipsis-binding: true


// Using Primary Color also in Bootstrap
$brand-primary: $color-primary
