
#Wall_Services
  @extend .wall-widget

#Wall_ServicesHead
  +wall-widget__header

  .BoldTitle
    +wall-widget__header-text

    &::before
      +make-material-icon('account_balance', 30px)
      vertical-align: -7px
      width: 35px
      color: darken($color-primary, 20)

#Wall_ServicesSep
  display: none

.Wall_ServicesChoice
  margin-bottom: 7px

  &::before
    +make-material-icon('label_outline', 30px)
    color: darken($color-primary, 20)
    vertical-align: -10px
    margin-right: 6px

.Wall_GivenServices
  font-size: 15px
