.popup-logout {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    width: 100%;
    float: left;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    background: #2ba6cb;
}

span.share:before {
    font-family: FontAwesome;
    margin-left: 10px;
    margin-right: 5px;
    content: "\f1e0";
}

.demo {
    display: none;
}

.edit-personal {
 
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    float: left;
}

.bottom-section .option-holder ul li {
    width: initial !important;
}

.bottom-section .option-holder {
    float: right !important;
    margin-right: 10px !important;
    width: initial !important;
}

.lblProfilhdr {
    width: initial !important;
}

.lnkCancelProfile {
display: inline-block;
background-color: #aaa!important;
/*color: #2ba6cb !important;*/
opacity: 0.8;
border: none;
font-weight: bold;
padding: 7px 20px;
font-size: 16px;
border-color: #4d4d4d;
font-family: RobotoCondensed-Bold;
}

.btnSaveProfile{
    text-align: center;
display: inline-block;
/*background-color: #2ba6cb !important;*/
color: white;
margin-right: 30px !important;
border: none;
/* font-weight: bold; */
padding: 7px 20px;
font-size: 16px;
border-color: #4d4d4d;
font-family: RobotoCondensed-Bold;
}

.bottom-section .preview-profile .about-me {
    padding-top: 1.25em !important;
}

/*.lblAboutMySelf, .edit-profile-preview .rowTitle {
    font-family: RobotoCondensed-Bold;
    font-size: 16px;
    margin-left: 15px;
}*/

.btnAddClick {
    color: #333333;
    background: #fff;
    border: none;
    font-size:13px;
}

.uploadphoto {
  font-size: 14px;
  font-family: RobotoCondensed-Regular;
  color: #333333;
}

.uploadphoto:before {
   margin-left:20px;
  font-family: FontAwesome;
  padding-right: 3px;
  content: "\f030";
  /* font-size: 14px; */
}

.file-gallery-holder .gallery-options .privacy-level-Friends, .file-gallery-holder .gallery-options .privacy-level-Private {
  margin: 25px 15px 0 0;
  float: right;
}

.file-gallery-holder .gallery-options {
    width: 100% !important;
    height: 100% !important;
}

.password-warning {
  font-size: 12px;
  padding: 0 20px;
}
.width-all{width:100%;display: inline-block;height:25px;}
.lbl-settings-general{}
.lbl-settings-private{margin-top: 9px;}
.lbl-settings-business{margin-top: 31px;}


/*.Wall_Inner .file-gallery-holder .group-template .icon-holder a img {height: 300px !important;}*/