#btn_like {
	margin-left: 10px;
}

#first_post {
	padding: 10px;
}

#aShare span:before {
	font-family: FontAwesome;
	font-size:20px;
	content: "\f1e0";
}

#aShare span{
	font-family: RobotoCondensed-Regular;
}

#aLike span:before {
	font-family: FontAwesome;
	font-size:20px;
	content: "\f164";
}

ul.rrtItem:before {
/* font-family: FontAwesome; */
/* font-size: 20px; */
/* content: "\f164"; */
}

.RadRating {
	width: 50px!important;
    height: 25px!important;
}

.RadRating_PortalRating a,
.RadRating_PortalRating a span {
/* background-image: none; */ 
    width: 50px!important;
    height: 25px!important;
      margin: 2px 1px 1px 1px!important;
}

.RadRating .rrtOver a span {
    background-position: 0px 0px !important;
}

.RadRating .rrtOver a {
    background-position:  0px 0px !important; 
    cursor: pointer;
}