/* line 6, ../sass/landing-page.sass */
.slide {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 10, ../sass/landing-page.sass */
.slide--with-background {
  background: no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 22, ../sass/landing-page.sass */
.slide--with-background__inner-div {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

/* line 31, ../sass/landing-page.sass */
.slide--with-background__text {
  color: #fff;
  font-weight: lighter;
}

/* line 35, ../sass/landing-page.sass */
.slide__white-negative-text {
  background-color: #fff;
  line-height: 55px;
  padding-right: 10px;
}

/* line 40, ../sass/landing-page.sass */
.slide__title-introduction {
  margin-bottom: 40px;
}

/* line 46, ../sass/landing-page.sass */
.register-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

/* line 51, ../sass/landing-page.sass */
.register-form__intro-text {
  color: #000;
  font-size: 20px;
}

/* line 55, ../sass/landing-page.sass */
.register-form__info-text {
  font-size: 12px;
}
