/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* line 5, ../sass/fonts.sass */
h1 {
  font-weight: lighter;
}

/* line 1, ../sass/general.sass */
body {
  font-family: "Open Sans", sans-serif;
  border-top: solid 50px #000;
}

/* line 1, ../sass/navbar.sass */
.navbar {
  border-radius: 0;
  background-color: #132333;
}
/* line 6, ../sass/navbar.sass */
.navbar .navbar-brand__title {
  font-family: "Pacifico", cursive;
  color: #3aa6e7;
  font-size: 30px;
}
/* line 11, ../sass/navbar.sass */
.navbar .navbar-brand__subtitle {
  color: #fff;
}

/* line 14, ../sass/navbar.sass */
.navbar-inverse {
  background-image: none;
}

/* line 17, ../sass/navbar.sass */
.header-content {
  position: relative;
  background-image: url(../gfx/fotolia-12182689.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 250px;
}

/* line 29, ../sass/navbar.sass */
.navbar.grand-navbar {
  position: relative;
  min-height: 0;
  height: 30px;
  margin-top: -31px;
  background-color: transparent;
  color: white;
  font-size: 14px;
}
/* line 38, ../sass/navbar.sass */
.navbar.grand-navbar a {
  height: 30px;
  color: #fff;
  background-color: rgba(19, 35, 51, 0.97);
  padding: 5px 20px;
  margin-left: 2px;
}

/* line 1, ../sass/buttons.sass */
.btn {
  border-radius: 0;
  border: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 8, ../sass/buttons.sass */
.btn-important {
  background-color: #E9002F;
  color: #fff;
}

/* line 12, ../sass/buttons.sass */
.btn-important:active, .btn-important:focus, .btn-important:hover {
  background-color: #b60025;
  color: #fff;
}

/* line 4, ../sass/form.sass */
.form-control {
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 0;
  color: #000;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* line 16, ../sass/form.sass */
.form-control--login-navbar {
  border: solid 1px #414141;
  background-color: transparent;
  color: #fff;
}

/* line 21, ../sass/form.sass */
.form-control::-webkit-input-placeholder {
  color: #6a6a6a;
}

/* line 24, ../sass/form.sass */
.form-control:-moz-placeholder {
  color: #6a6a6a;
}

/* line 27, ../sass/form.sass */
.form-control::-moz-placeholder {
  color: #6a6a6a;
}

/* line 30, ../sass/form.sass */
.form-control:-ms-input-placeholder {
  color: #6a6a6a;
}

/* line 34, ../sass/form.sass */
.form-control--login-navbar::-webkit-input-placeholder {
  color: #9a9a9a;
}

/* line 37, ../sass/form.sass */
.form-control--login-navbar:-moz-placeholder {
  color: #9a9a9a;
}

/* line 40, ../sass/form.sass */
.form-control--login-navbar::-moz-placeholder {
  color: #9a9a9a;
}

/* line 43, ../sass/form.sass */
.form-control--login-navbar:-ms-input-placeholder {
  color: #9a9a9a;
}

/* line 8, ../sass/landing-page.sass */
.slide {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 12, ../sass/landing-page.sass */
.slide--with-background {
  background: no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 24, ../sass/landing-page.sass */
.slide--with-background__inner-div {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/landing-page.sass */
.slide--with-background__text {
  color: #fff;
  font-weight: lighter;
}

/* line 37, ../sass/landing-page.sass */
.slide--title {
  background-image: url("../gfx/starters-plane.jpg");
  background-attachment: scroll;
  background-position: 30% 50%;
}

@media(max-width: 768px) {
  /* line 43, ../sass/landing-page.sass */
  .slide--title {
    background-position: 80% 50%;
  }
}
/* line 46, ../sass/landing-page.sass */
.slide--statement {
  height: 900px;
}

/* line 49, ../sass/landing-page.sass */
.slide__statement {
  margin-top: 80px;
}

/* line 57, ../sass/landing-page.sass */
.slide__white-negative-text {
  background-color: #fff;
  line-height: 55px;
  padding-right: 10px;
}

/* line 62, ../sass/landing-page.sass */
.slide__title-introduction {
  margin-bottom: 40px;
}

/* line 68, ../sass/landing-page.sass */
.register-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

/* line 74, ../sass/landing-page.sass */
.register-form__intro-text {
  color: #000;
  font-size: 20px;
}

/* line 78, ../sass/landing-page.sass */
.register-form__info-text {
  font-size: 12px;
}

/* line 86, ../sass/landing-page.sass */
.key-feature {
  margin-bottom: 40px;
}

/* line 89, ../sass/landing-page.sass */
.key-feature__icon {
  color: #3aa6e7;
  font-size: 60px;
  margin-left: -15px;
  display: block;
}

/* line 95, ../sass/landing-page.sass */
.key-feature__headline {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #3aa6e7;
}

/* line 101, ../sass/landing-page.sass */
.profile-card, .register-card {
  max-width: 390px;
  margin-left: auto;
  margin-right: auto;
}

/* line 106, ../sass/landing-page.sass */
.profile-card__innerDiv {
  padding: 10px;
  border-top: 1px solid #3aa6e7;
  border-left: 1px solid #3aa6e7;
  margin-bottom: 30px;
}

/* line 112, ../sass/landing-page.sass */
.profile-card__image {
  padding-left: 0;
}

/* line 116, ../sass/landing-page.sass */
.profile-card__text {
  font-size: 12px;
  padding: 0;
}

/* line 120, ../sass/landing-page.sass */
.profile-card__name {
  font-weight: bold;
}

/* line 124, ../sass/landing-page.sass */
.register-card__innerDiv {
  background-color: #3aa6e7;
  padding: 20px;
}

/* line 128, ../sass/landing-page.sass */
.register-card__text {
  color: #fff;
  font-size: 17px;
  font-weight: lighter;
}

/* line 1, ../sass/wall.sass */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 6, ../sass/wall.sass */
body {
  background-color: rgba(19, 35, 51, 0.05);
}
/* line 8, ../sass/wall.sass */
body a {
  color: #E9002F;
}
/* line 10, ../sass/wall.sass */
body a:hover {
  color: #3aa6e7;
}

/* line 13, ../sass/wall.sass */
.wall-widget {
  border: solid 1px #eee;
  padding: 20px;
  margin: 20px 0;
  padding-top: 0;
  background-color: #f9f9f9;
}
/* line 20, ../sass/wall.sass */
.wall-widget header h3 {
  font-size: 20px;
}
/* line 24, ../sass/wall.sass */
.wall-widget.wall-widget--matching header {
  border-bottom: solid 1px #3aa6e7;
}
/* line 26, ../sass/wall.sass */
.wall-widget.wall-widget--matching header h3 {
  padding-top: 15px;
  margin-left: 10px;
}
/* line 30, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters {
  font-size: 14px;
}
/* line 32, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}
/* line 37, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch .select-toggle:hover {
  cursor: pointer;
}
/* line 40, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a {
  color: #777;
}
/* line 42, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a:hover, .wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a:active, .wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a:focus, .wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a:visited {
  text-decoration: none;
}
/* line 45, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch a:hover {
  color: #E9002F;
}
/* line 49, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch.is-selected-right a.element-right {
  color: #333;
  border-bottom: solid 1px #E9002F;
}
/* line 53, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch.is-selected-right .select-toggle {
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 61, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch.is-selected-left a.element-left {
  color: #333;
  border-bottom: solid 1px #E9002F;
}
/* line 65, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-switch.is-selected-left .select-toggle {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 76, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-element {
  padding: 0;
  text-align: center;
}
/* line 80, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-element:first-child {
  text-align: right;
  padding-right: 5px;
}
/* line 84, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-element:last-child {
  text-align: left;
  padding-left: 5px;
}
/* line 90, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-select {
  text-align: center;
}
/* line 92, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--filters .wall-widget--filter-select .wall-widget--filter-select-list {
  background-color: #fff;
  width: 80px;
  margin-left: 5px;
  margin-top: 10px;
}
/* line 98, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content {
  margin-top: 25px;
  text-align: center;
}
/* line 101, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account {
  text-align: left;
  width: 100%;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
/* line 107, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account * {
  display: inline-block;
  vertical-align: top;
}
/* line 111, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account .avatar {
  width: 50px;
  height: 50px;
}
/* line 115, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account .account {
  padding-left: 5px;
}
/* line 117, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account .account > * {
  display: block;
}
/* line 119, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account .account h4 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding-top: 3px;
}
/* line 124, ../sass/wall.sass */
.wall-widget.wall-widget--matching .wall-widget--content .wall-widget--account .account ul {
  margin-top: 5px;
}

/* line 127, ../sass/wall.sass */
.wall-widget--newPost {
  padding: 0;
  text-align: justify;
  /* ie 7 */
  *width: 100%;
  *-ms-text-justify: distribute-all-lines;
  *text-justify: distribute-all-lines;
}
/* line 136, ../sass/wall.sass */
.wall-widget--newPost::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}
/* line 144, ../sass/wall.sass */
.wall-widget--newPost textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  width: 100%;
  padding: 30px;
  height: 130px;
  border-bottom: solid 1px #3aa6e7;
}

/* line 155, ../sass/wall.sass */
.wall-widget--actions {
  margin-top: 5px;
  display: inline-block;
}
/* line 159, ../sass/wall.sass */
.wall-widget--actions ul li {
  display: inline-block;
}

/* line 162, ../sass/wall.sass */
.wall-widget--actions__social {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
/* line 166, ../sass/wall.sass */
.wall-widget--actions__social li {
  margin-right: 10px;
}
/* line 168, ../sass/wall.sass */
.wall-widget--actions__social li:last-child {
  margin: 0;
}

/* line 172, ../sass/wall.sass */
.wall-widget--header h3 {
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 15px;
  margin: 0;
  margin-top: 20px;
}

/* line 180, ../sass/wall.sass */
.wall-widget--actions__left {
  margin-left: 20px;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
  *text-align: left;
}

/* line 187, ../sass/wall.sass */
.wall-widget--actions__right {
  margin-right: 10px;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
  *text-align: right;
}

/* line 195, ../sass/wall.sass */
.wall-widget--button {
  border: solid 1px #eee;
  background-color: #e2e2e2;
  color: #E9002F;
  font-size: 30px;
  line-height: 35px;
  width: 70px;
}
/* line 203, ../sass/wall.sass */
.wall-widget--button:hover {
  color: #e2e2e2;
  background-color: #E9002F;
}

/* line 207, ../sass/wall.sass */
.wall-widget--button__blue {
  border: solid 1px #eee;
  background-color: #3aa6e7;
  color: #fff;
  font-size: 16px;
  width: 100px;
}

/* line 214, ../sass/wall.sass */
.wall-widget--info {
  color: #777;
}

/* line 217, ../sass/wall.sass */
.wall-widget--activities {
  margin-top: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* line 223, ../sass/wall.sass */
.wall-widget--activity-post {
  background-color: #fff;
  border: solid 1px #3aa6e7;
  border-top-color: #eee;
  border-right-color: #eee;
  margin-bottom: 30px;
  padding: 15px 22px;
}
/* line 235, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--header {
  text-align: justify;
  /* ie 7 */
  *width: 100%;
  *-ms-text-justify: distribute-all-lines;
  *text-justify: distribute-all-lines;
}
/* line 242, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--header::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 0;
  font-size: 0;
  line-height: 0;
}
/* line 251, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--header__left {
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
  *text-align: left;
}
/* line 258, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--header__right {
  display: inline-block;
  /* ie 7 */
  *display: inline;
  *zoom: 1;
  *text-align: right;
}
/* line 265, ../sass/wall.sass */
.wall-widget--activity-post .account-avatar {
  display: inline-block;
  width: 60px;
  height: 60px;
}
/* line 270, ../sass/wall.sass */
.wall-widget--activity-post h4 {
  padding-left: 5px;
  font-size: 16px;
  display: inline-block;
}
/* line 275, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--content {
  margin: 10px 0;
  text-align: center;
}
/* line 279, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--activity-post-image {
  max-width: 100%;
  height: auto;
}
/* line 283, ../sass/wall.sass */
.wall-widget--activity-post .wall-widget--activity-post-text {
  padding-left: 20px;
  text-align: left;
}

/* line 288, ../sass/wall.sass */
.wall-widget--news {
  padding: 0 10px;
  padding-bottom: 15px;
}
/* line 291, ../sass/wall.sass */
.wall-widget--news h3 {
  margin-left: 8px;
}
/* line 294, ../sass/wall.sass */
.wall-widget--news .wall-widget--content {
  margin-top: 15px;
  text-align: center;
}
/* line 298, ../sass/wall.sass */
.wall-widget--news .wall-widget--content .wall-widget--button {
  margin-top: 10px;
}

/* line 301, ../sass/wall.sass */
.wall-widget--asidePost {
  text-align: left;
  width: 100%;
  margin-bottom: 17px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
}
/* line 308, ../sass/wall.sass */
.wall-widget--asidePost .info {
  font-size: 12px;
  vertical-align: baseline;
}
/* line 311, ../sass/wall.sass */
.wall-widget--asidePost .info p {
  margin-bottom: 3px;
}
/* line 314, ../sass/wall.sass */
.wall-widget--asidePost .info .wall-widget--info {
  font-size: 11px;
  text-align: right;
}

/* line 320, ../sass/wall.sass */
.wall-widget--asidePost-Image {
  height: auto;
  margin: 0;
  padding: 0;
  margin-right: 6px;
}

/* line 326, ../sass/wall.sass */
.wall-widget--partners {
  padding-left: 0;
  padding-right: 0;
}
/* line 330, ../sass/wall.sass */
.wall-widget--partners h3 {
  margin-left: 20px;
}
/* line 333, ../sass/wall.sass */
.wall-widget--partners .banner {
  width: 100%;
  height: auto;
}
