/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
/* line 5, ../sass/fonts.sass */
h1 {
  font-weight: lighter;
}

/* line 1, ../sass/general.sass */
body {
  font-family: "Open Sans", sans-serif;
  border-top: solid 50px #000;
  height: 2000px;
}

/* line 1, ../sass/navbar.sass */
.navbar {
  border-radius: 0;
}
/* line 6, ../sass/navbar.sass */
.navbar .navbar-brand__title {
  font-family: "Pacifico", cursive;
  color: #3aa6e7;
  font-size: 30px;
}
/* line 11, ../sass/navbar.sass */
.navbar .navbar-brand__subtitle {
  color: #fff;
}

/* line 15, ../sass/navbar.sass */
.navbar-inverse {
  background-image: none;
  background-color: rgba(0, 0, 0, 0.8);
}

/* line 1, ../sass/buttons.sass */
.btn {
  border-radius: 0;
}

/* line 4, ../sass/buttons.sass */
.btn-important {
  background-color: #E9002F;
  color: #fff;
}

/* line 1, ../sass/form.sass */
.form-control {
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 0;
  color: #6a6a6a;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

/* line 13, ../sass/form.sass */
.form-control--login-navbar {
  border: solid 1px rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: #fff;
}

/* line 20, ../sass/form.sass */
.form-control::-webkit-input-placeholder,
.form-control:-moz-placeholder,
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder {
  color: #6a6a6a;
}

/* line 8, ../sass/landing-page.sass */
.slide {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 12, ../sass/landing-page.sass */
.slide--with-background {
  background: no-repeat center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

/* line 24, ../sass/landing-page.sass */
.slide--with-background__inner-div {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: -50px;
  padding-top: 50px;
  margin-bottom: -50px;
  padding-bottom: 50px;
  width: 100%;
  height: 100%;
}

/* line 33, ../sass/landing-page.sass */
.slide--with-background__text {
  color: #fff;
  font-weight: lighter;
}

/* line 37, ../sass/landing-page.sass */
.slide--statement {
  height: 900px;
}

/* line 40, ../sass/landing-page.sass */
.slide__statement {
  margin-top: 80px;
}

/* line 48, ../sass/landing-page.sass */
.slide__white-negative-text {
  background-color: #fff;
  line-height: 55px;
  padding-right: 10px;
}

/* line 53, ../sass/landing-page.sass */
.slide__title-introduction {
  margin-bottom: 40px;
}

/* line 59, ../sass/landing-page.sass */
.register-form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 40px;
}

/* line 64, ../sass/landing-page.sass */
.register-form__intro-text {
  color: #000;
  font-size: 20px;
}

/* line 68, ../sass/landing-page.sass */
.register-form__info-text {
  font-size: 12px;
}

/* line 76, ../sass/landing-page.sass */
.key-feature {
  margin-bottom: 40px;
}

/* line 79, ../sass/landing-page.sass */
.key-feature__icon {
  color: #3aa6e7;
  font-size: 60px;
  margin-left: -15px;
  display: block;
}

/* line 85, ../sass/landing-page.sass */
.key-feature__headline {
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #3aa6e7;
}

/* line 18, ../sass/screen.sass */
.test {
  color: #fff;
}
